---
import NavAuthButton from './NavAuthButton.astro';
---

<nav class="flex h-full w-full flex-row bg-primary px-4 py-2">
    <h1 class="my-auto text-2xl font-extrabold text-primary-content">
        <a class="inline-flex items-center" href="/">
            <img
                src="/collabowrite-favicon.svg"
                class="mr-4 inline h-6 fill-white stroke-white text-white invert"
            />
            <span class="self-end">CollaboWrite</span></a
        >
        <span class="text-xs text-secondary-content">{import.meta.env.VER}</span
        >
    </h1>
    <NavAuthButton />
</nav>
