---

---
<nav class="w-full h-full bg-primary px-4 py-2 flex flex-row">
	<h1 class="text-2xl font-extrabold my-auto text-primary-content"><a href="/">CollaboWrite</a> <span class="text-xs text-secondary-content">v0.1alpha</span></h1>
</nav>
