---
import Layout from '../layouts/Layout.astro';
import Editor from '../layouts/Editor.astro';
import Navbar from '../components/astro/Navbar.astro';
---

<Layout title="Welcome to Astro.">
    <main>
        <section class="grid h-screen grid-cols-1 grid-rows-[1fr,15fr]">
            <Navbar />
            <Editor url={Astro.url.href} state="editor" />
        </section>
    </main>
</Layout>
