---
import EditorPane from '../components/qwik/EditorPane';

interface Props {
    state: 'editor' | 'renderer' | 'both';
	url: string;
}
const { state, url } = Astro.props;
---

{/* Editor Pane  */}
<div class="h-full w-full bg-white px-8 py-4">
    <EditorPane {url} />
</div>
