---
import type { User } from '@supabase/supabase-js';
import EditorPane from '../components/qwik/EditorPane';

interface Props {
    state: 'editor' | 'renderer' | 'both';
    url: string;
    user: User;
}
const { url, user } = Astro.props;
---

{/* Editor Pane  */}
<div class="h-full w-full bg-base-100 px-8 py-4">
    <div class="rounded-t-lg bg-success p-4">
        <b>Hello {user.user_metadata.name}!</b> Send someone to <a
            target="_blank"
            class="link link-primary"
            href={import.meta.env.BASE_URL + 'labs/' + url}
            >{import.meta.env.BASE_URL}labs/{url}</a
        > to start <b class="text-primary">CollaboWriting</b>!
    </div>
    <EditorPane {url} />
</div>
