---
import type { User } from '@supabase/supabase-js';
import EditorPane from '../components/qwik/EditorPane';

interface Props {
    state: 'editor' | 'renderer' | 'both';
    url: string;
    user: User;
}
const { url, user } = Astro.props;
---

{/* Editor Pane  */}
<div id="has-url" data-url={url} class="h-full w-full bg-base-100 px-8 py-4">
    <div class="flex items-center justify-between rounded-t-lg bg-success p-4">
        <span class="m-0 inline-block h-min p-0">
            <b>Hello {user ? user.user_metadata.name : 'Test-User'}!</b> Send someone
            to <a
                target="_blank"
                class="link link-primary"
                href={import.meta.env.BASE_URL + 'labs/' + url}
                >{import.meta.env.BASE_URL}labs/{url}</a
            > to start <b class="text-primary">CollaboWriting</b>!
        </span>
        <div class="flex items-center font-bold">
            <abbr
                title="Create a file from your text entry"
                class="cursor-default">Export</abbr
            ><i class="ri-arrow-right-line ri-xl ml-1"></i>
            <button
                id="md-export"
                class="btn btn-outline btn-primary btn-sm ml-2 border-2"
                ><code>.md</code>
            </button>
        </div>
    </div>
    <EditorPane {url} />
</div>

<script>
    const exportButton = {
        md: document.getElementById('md-export'),
    };
    const url = document.getElementById('has-url')?.dataset.url as string;

    exportButton.md?.addEventListener('click', () => {
        document.dispatchEvent(
            new CustomEvent('download-md', { detail: { url } })
        );
    });
</script>
