---
import CommonHead from '~/components/astro/CommonHead.astro';
import Navbar from '~/components/astro/Navbar.astro';
interface Props {
    title: string;
}

import 'remixicon/fonts/remixicon.css';

const { title } = Astro.props;
const slug = Astro.url.searchParams.get('redirect');
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Write markdown collaboratively!" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <CommonHead />
        <title>{title}</title>
    </head>
    <body>
        <nav>
            <Navbar navToSlug={slug?.toString() as string} />
        </nav>
        <section class="grid h-screen grid-cols-1 grid-rows-[1fr,15fr]">
            <slot />
        </section>
        <script>
            import { createBrowserClient } from '@supabase/ssr';
            window.supabase = createBrowserClient(
                import.meta.env.PUBLIC_SUPABASE_URL,
                import.meta.env.PUBLIC_SUPABASE_ANON
            );
        </script>
    </body>
</html>
